body{
	background-color: ghostwhite;
	color: steelblue;
	padding: 4% 7%;
}

body > a{
	margin: 0 5%;
	font-size: 20px;
	text-decoration: none;
}

body > a:hover{
	text-decoration: underline;
}

body form > input {
	display: inline-block;
	margin: 10px auto;
	padding: 10px;
	height: 15px;
	font-size: 17px;
	border-radius: 3px;
	width: 150px;
}

body form > input[type="submit"]{
	height: 43px;
}