doctype html 
html
	head
		meta(charset="utf-8")
		link(rel="stylesheet" type="text/css" href="/css/main.css")
		meta(name="viewport" content="width=device.width, ititial-scale=1")
		script(src="/js/libs/jquery-1.11.2.mn.js")
		script(src="/js/js.js")
	body
		h1 Welcome to the Baseball Store!
		#main
			block content